/* Entrance */
.usa-entrance-container {
	position: relative;
	height: 100%;
	width: 100%;
	.usa-entrance-descript {
		position: relative;
		z-index: 30;
		text-align: center;
		width: 400px;
		margin: 5% auto 0 auto;
		h1 {
			font-size: 2.5rem;
			text-transform: uppercase;
		}
	}
	.usa-entrance-scrollAction {
		height: 100%;
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	.usa-entrance-img {
		z-index: 2;
		width: 100%;
		margin-top: -5%;
		height: 100%;
		position: absolute;

		.usa-entrance-bcg {
			height: 100%;
			.usa-entrance-bcgTexture {
				background: url('../../dist/img/entrance-texture.png') no-repeat;
				height: 100%;
				background-size: cover;
				.usa-entrance-bcgTexture-flag {
					background: url('../../dist/img/entrance-flag.png') no-repeat;
					position: absolute;
					right: -45%;
					height: 100%;
					width: 100%;
					z-index: 1;
				}
			}
		}
		.usa-entrance-candidat {
				height: 100%;
				width: 100%;
				.usa-entrance-candidatTrump {
					background: url('../../dist/img/entrance-trump.png') no-repeat;
					background-size: 100%;
					width: 40%;
					height: 100%;
					position: absolute;
					bottom: -30%;
					left: 20%;
				}
				.usa-entrance-candidatClinton {
					background: url('../../dist/img/entrance-clinton.png') no-repeat;
					background-size: 100%;
					width: 35%;
					height: 100%;
					position: absolute;
					bottom: -35%;
					right: 20%;
					z-index: 10;
				}
			}
	}
}