.section_entrance {
  width: 100%;
  height: 100%;
    .content {
      position: relative;
      width: 100%;
      height: 100%;
      .entrance_title {
        position: absolute;
        top: 33%;
        font-size: 85px;
        font-weight: 500;
        text-align: left;
        width: 100%;
        left: 30%;
      }
      .entrance_description {
        position: absolute;
        top: 45%;
        width: 35%;
        text-align: left;
        line-height: 200%;
        left: 30.5%;
        font-size: 18px;
      }
      .entrance_howTo {
        position: absolute;
        top: 65%;
        left: 30.5%;
        font-size: 14px;
        color: #8b8b8b;
      }
      .entrance_scrollAction {
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        position: absolute;
        right: 1%;
        top: 50%;
        display: inline-block;
        span {
          display: inline-block;
          width: 100px;
          height: 3px;
          background: black;
          vertical-align: middle;
          margin-right: 5px;
        }
        p {
          display: inline-block;
        }
      }
    }
}