body{
	background-color: #fff;
	color: white;
	height: 100%;
	width: 100%;
}

#container {
	background-color: black;
	width: 1000%;
	height: 100%;
	position: absolute;	
	overflow: hidden;
}
