body{
	background-color: #fff;
	color: black;
	height: 100%;
	width: 	10000px;
}

#container {
	width: 10000px;
	height: 100%;
	position: absolute;	
	overflow: hidden;
}

#audit, #clinton, #preTitleMail, #textEmail, #titleEmail,
#preTitleScandal, #fouleTrump, #textScandal, #trump, #titleScandal{
	position: absolute;
}
#emailSection {
	margin-left: 2500px;
	bottom: 0;
	height: 100%;
}

#clinton {
	opacity: 0;
	z-index: 1;
	bottom: 0;
	left: 2500px;
}

#trump {
	bottom: 0;
	opacity: 0;
}
#audit {
	bottom: -200px;
	opacity: 1;
	z-index: 100;
	left: 2500px;
}

#fouleTrump {
	bottom: 0px;
	opacity: 0;
	z-index: 100;
	left: 215px;
}

#titleEmail {
	font-size: 50px;
	left: 2500px;
	top: 200px;
	width: 650px;
	opacity: 0;
}

#titleScandal {
	right: 250px;
	font-size: 50px;
	top: 200px;
	width: 650px;
	opacity: 0;
}

#textEmail {
	width: 400px;
	font-size: 16px;
	opacity: 0;
	top: 400px;
    left: 3000px;
}

#textScandal {
	width: 400px;
	font-size: 16px;
	opacity: 0;
	top: 400px;
	left: 1100px;
}

#preTitleMail {
	font-size: 85px;
	width: 1000px;
	left: 2500px;
	top: 400px;
}

#preTitleScandal {
	font-size: 85px;
	width: 835px;
	top: 400px;
	left: 1600px;
	opacity: 0;
}

#scandalTrumpSection {
	bottom: 0;
	opacity: 1;
	height: 100%;
}