.chrono-menu {
	position: fixed;
	width: 100%;
	height: 64px;
	background: rgba(255, 255, 255, 0.99);
	bottom: -64px;
	border-top: 1px solid #eee;
	z-index: 1010;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0% 10%;
	align-items: center;
	box-sizing: border-box;	
}

.chrono-menu-div {
	font-size: 12px;
	font-family: 'Roboto';
	color: black;
	font-weight: 600;

	a {
		color: black;
		text-decoration: none;

		&.active {
			text-decoration: line-through;
		}
	}

	&.chrono-text-black {
		font-size: 14px;
	}
}

.chrono-menu-line {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 45px;
	background: black;
	height: 5px;
}

.menu_chronologie {
	width: 100%;
	height: 8%;
	position: fixed;
	bottom: -60px;
	left: 0%;
	z-index: 1000;
	opacity: 0;
	ul {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;


		li {
			display: inline-block;
			width: 100%;
			height: 100%;
			background: #fff;
		}
		a {
			width: 100%;
			height: 100%;
			display: inline-block;
			text-align: left;
			text-decoration: none;
			color: #ada799;
			padding:10% 0 10% 5%;
			font-size: 14px;
			text-transform: uppercase;
			span {
				display: block;
				color: #827a68;
				font-size: 10px;
			}
		}
	}
	.active {
		background-color: black;
		color: #fff;
	}		
}