.menu_chronologie {
	width: 80%;
	height: 8%;
	position: fixed;
	bottom: -60px;
	left: 10%;
	z-index: 1000;
	opacity: 0;
	ul {
		height: 100%;
		width: 100%;
		li {
			display: inline-block;
			width: 16.3%;
			height: 100%;
			background: #fff;
		}
		a {
			width: 100%;
			height: 100%;
			display: inline-block;
			text-align: left;
			text-decoration: none;
			color: #ada799;
			padding:10% 0 10% 5%;
			font-size: 14px;
			text-transform: uppercase;
			span {
				display: block;
				color: #827a68;
				font-size: 10px;
			}
		}
	}
	.active {
		background-color: black;
		color: #fff;
	}		
}