.section_six {
    .content {
        .section_contentFirst {
            .section_mainImage img {
                bottom: -25%;
                width: 50%;
            }
            .section_bcgImage_1 img {
                bottom: -10%;
                left: 0;
            }
            .section_bcgImage_1 {
                bottom: -17%;
                left: 20%;
                img {
                    opacity: 0.3;
                }
            }
            .section_discover {
                left: 65%;
            }
        }
        .section_contentSecond {
            .container_secondBox {
                .secondBox_section3 {
                    .section3_content {
                        .content_title {
                            width: 305px;
                            &:first-child {
                                width: 145px;
                            }
                        }
                    }
                }
            }
        }
    }
}