.section_four {
    .content {
        .section_contentFirst {
            .section_mainImage img {
                bottom: -10%;
                left: -5%;
            }
            .section_bcgImage_1 {
                left: 7%;
                bottom: -13%;
                img {
                    opacity: 0.3;
                }
            }
            .section_mainFunctionality {
                position: absolute;
                top: 50%;
                right: 21%;
                img {
                    height: 188px;
                    filter: brightness(60%) saturate(0%);
                }
            }
            .section_discover {
                top: 40%;
                left: 80%;
            }
        }
    }
}