.section_seven {
    .content {
        .section_contentFirst {
            .section_mainImage img {
                bottom: -10%;
                left: 0%;
            }
            .section_title {
                top: 20%;
            }
            .section_title2 {
                position: absolute;
                top: 28%;
                left: 35%;
            }
            .section_bcgImage_1 {
                bottom: -17%;
                left: 30%;
                img {
                    opacity: 0.3;
                }
            }
        }
    }
}