.section_three {
    .content {
        .section_contentFirst {
            display: block;
            .section_mainImage img {
                bottom: -15%;
                left: -10%;
            }
            .section_bcgImage_1 {
                left: -40%;
                bottom: -13%;
                img {
                    opacity: 0.3;
                }
            }
            .section_discover {
                top: 55%;
            }
            .section_title {
                top: 20%;
                left: 10%;
            }
            .section_title2 {
                position: absolute;
                top: 27%;
                left: 10%;
            }
            .section_text {
                left: 10%;
            }
            .section_mainFunctionality {
                position: absolute;
                top: 35%;
                left: 75%;
                transform: scale(0.8);
            }
        }
        .section_contentSecond {
            overflow-y: auto;
            .container_secondBox {
                height: 130%;
            }   
            .part3 {
                padding-bottom: 50px;
            }
        }
    }
}