.section {
	width: 100%;
	height: 100%;
	.content {
		width: 100%;
		height: 100%;
		.section_year {
			position: absolute;
			color: rgba(0, 0, 0, 0.1);
			top: 10%;
			right: 15%;
			font-size: 120pt;
			font-weight: 300;
		}
	}
}