.section_five {
    .content {
        .section_contentFirst {
            display: block;
            .section_mainImage img {
                left: -5%;
                bottom: -15%;
                width: 60%;
            }
            .section_bcgImage_1 {
                left: 0%;
                bottom: -13%;
                img {
                    opacity: 0.3;
                }
            }
            .section_title {
                left: 20%;
                top: 20%;
            }
            .section_title2 {
                position: absolute;
                top: 28%;
                left: 17%;
            }
            .section_discover {
                left: 55%;
                top: 60%;
            }
            .section_text {
                top: 38%;
                left: 25%;
            }
        }
        .section_contentSecond {
            .container_secondBox {
                .secondBox_section1 {
                    .section1_content {
                        opacity: 1;
                        left: 15%;
                        top: 10%;
                    }
                }
                .secondBox_section2 {
                    .section2_content {
                        opacity: 1;
                        top: 20%;
                        left: 55%;
                    }
                    .section2_img {
                        opacity: 1;
                        top: 40%;
                        left: 40%;
                    }
                }
                .secondBox_section3 {
                    .section3_content {
                        opacity: 1;
                        top: 60%;
                        left: 15%;
                    }
                }
                .secondBox_section4 {
                    .section4_content {
                        position: absolute;
                        top: 70%;
                        left: 55%;
                        text-align: right;
                    }
                }
            }
        }
    }
}