.section_two {
	.content {
		.section_contentFirst {
			display: block;
			.section_mainImage img {
				bottom: -20%;
				left: 0%;
			}
			.section_mainFunctionality {
				top: 56%;
				z-index: 101;
				right: 13%;
				position: absolute;
				width: 277px;
				height: 160px;
			}
			.section_bcgImage_1 {
				bottom: -5%;
				left: 0%;
				img {
					opacity: 0.3;
				}
			}	
			.contratATerme_mainFunctionality {
				img {
					width: 100%;
					height: 100%;
					box-shadow: 5px 6px 37px 0px rgba(0,0,0,.42)
				}
			}
			.section_title {
				left: 20%;
			}
			.section_text {
				
				left: 10%;
			}

			.section_contentSecond {
				position: absolute;
				bottom: -100%;
			}
		}
	}
}