.section_five {
    .content {
        .section_contentFirst {
            display: block;
            .section_mainImage img {
                left: 0%;
                bottom: 0%;
            }
            .section_discover {
                left: 75%;
            }
        }
    }
}