.section {
	width: 100%;
	height: 100%;
	.content {
		position: relative;
		width: 100%;
		height: 100%;
		.section_contentFirst{
			width: 100%;
			height: 100%;
			.section_year {
				position: absolute;
				left: 60%;
				top: 7%;
				color: rgba(0, 0, 0, 0.02);
				font-size: 136pt;
				font-weight: 400;
			}
			.section_mainImage img {
				position: absolute;
				transform: translate3d(0,0,0);
				transform: scale(0.8);
				z-index: 100;
			}
			.section_bcgImage_1 {
				position: absolute;
				opacity: 0.5;
				bottom: 20%;
				left: 70%;
			}

			.section_bcgImage_flag {
				img {
					position: absolute;
					top: -50%;
					left: -10%;
				}
			}

			.section_title {
				position: absolute;
				top: 28%;
				left: 40%;
				z-index: 500;

				h2 {

				}

			}
			.section_text {
				position: absolute;
				top: 36%;
				left: 40%;
				line-height: 200%;
				text-align: center;
				width: 400px;
				

				p {
					font-size: 14px;
					font-weight: 500;
					width: 300px;
					text-align: left;
					line-height: 25px;
					color: #000;
					font-family: 'Roboto';
				}
			}
			.section_discover {
				position: absolute;
				top: 53%;
				left: 52%;
				text-align: left;
				cursor: pointer;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				z-index: 1000;
				img {
					margin-right: 6px;
				}
			}
			.section_periode {
				position: absolute;
				left: 85%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 31px;
				top: 20%;
				text-transform: uppercase;
				
				p.periode {
					color: #827a68;
					font-size: 11px;
				}
				p.periode_annee {
					color: black;
					font-weight: 500;
					font-size: 16px;
				}
			}
			.section_protagoniste {
				position: absolute;
				left: 85%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 31px;
				top: 30%;
				p.protagoniste_title {
					text-transform: uppercase;
					color: #827a68;

					font-size: 11px;

				}
				p.protagoniste {
					color: black;
					font-weight: 500;
					font-size: 16px;
				}
			}
			.section_next {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 31px;
				position: absolute;
				left: 85%;
				top: 80%;
				p {
					text-transform: uppercase;
					color: #827a68;
					font-size: 11px;
				}
				a {
					cursor: pointer;
					color: black;
					text-decoration: none;
					font-size: 16px;
					display: inline-block;
					span {
						display: inline-block;
						padding-left: 10px;
						width: 30px;

						vertical-align: middle;
						img {
							height: 13px;
						}
					}
				}
			}
		}
		.section_contentSecond {
			width: 100%;
			height: 100% !important;
			position: absolute;
			bottom: -100%;
			overflow-y: auto;
			z-index: 2000;
			.container_secondBox {
				height: 1500px;
				
				position: relative;
				.secondBox_section1 {
					.section1_img {
						position: absolute;
						top: 10%;
						left: 30%;
						width: 250px;
						height: 330px;
						background-image: url('../../dist/img/clinton_cover_Time.png');
						background-repeat: no-repeat;
						background-size: cover;
						transition: 2s;
						&:hover {
							background-image: url('../../dist/img/clinton_cover_Timecolor.png');
							transition: 2s;
						}
					}
					.section1_content {
						position: absolute;
						top: 20%;
						left: 50%;
						text-align: left;
					}
				}
				.secondBox_section2 {
					.section2_img {
						position: absolute;
						left: 55%;
						top: 45%;
						img {
							width: 300px;
						}
					}
					.section2_content {
						position: absolute;
						top: 45%;
						left: 20%;
						text-align: right;
					}
				}
				.secondBox_section3 {
					.section3_img {

					}
					.section3_content {
						position: absolute;
						top: 70%;
						left: 50%;
						.content_title {
							background-color: black;
							color: white;
							font-size: 32px;
							width: 180px;
							padding: 10px;
							&:first-child {
								width: 200px;
							}
						}
					}
					.section3_content2 {
						.content_text {
							position: absolute;
							top: 80%;
							left: 30%;
							text-align: right;
							width: 500px;
						}
					}
				}
			}
			.content_text {
				width: 350px;
				height: 500px;
				line-height: 170%;
				font-size: 14px;
				margin-top: 20px;
			}
			.content_title {
				font-weight: bold;
				font-size: 26px;
			}
			.contentSecond_box_title1, .contentSecond_box_title2, .contentSecond_box_title3 {
				text-transform: uppercase;
				font-size: 16pt;
			}
			.contentSecond_box_text1, .contentSecond_box_text2, .contentSecond_box_text3 {
				line-height: 170%;
			}
		}
	}
}