.section_four {
    .content {
        .section_contentFirst {
            .section_mainImage img {
                bottom: -30%;
                left: -11%;
            }
            .section_bcgImage_1 {
                left: -50%;
                bottom: -13%;
                img {
                    opacity: 0.3;
                }
            }
            .section_text {
                top: 31%;
                left: 25%;
            }
            .section_title {
                top: 23%;
                left: 20%;
            }
            .section_mainFunctionality {
                position: absolute;
                top: 50%;
                right: 10%;
                img {
                    height: 188px;
                    filter: brightness(60%) saturate(0%);
                }
            }
            .section_discover {
                top: 51%;
                left: 56%;
            }
        }
        .section_contentSecond {
            .container_secondBox {
                .secondBox_section1 {
                    .section1_content {
                        opacity: 1;
                        left: 15%;
                        top: 25%;
                    }
                }
                .secondBox_section2 {
                    .section2_content {
                        opacity: 1;
                        top: 45%;
                        left: 55%;
                    }
                    .section2_img {
                        opacity: 1;
                        top: 10%;
                        right: 35%;
                    }
                }
                .secondBox_section3 {
                    .section3_content {
                        opacity: 1;
                        top: 55%;
                        left: 15%;
                    }
                }
            }
        }
    }
}