.section_seven {
    .content {
        .section_contentFirst {
            .section_mainImage img {
                bottom: -10%;
                left: 0%;
            }
            .section_title {
                top: 20%;
            }
            .section_title2 {
                position: absolute;
                top: 28%;
                left: 35%;
            }
            .section_bcgImage_1 {
                bottom: -17%;
                left: 30%;
                img {
                    opacity: 0.3;
                }
            }
        }
        .section_contentSecond {
            .container_secondBox {
                .secondBox_section1 {
                    .section1_content {
                        opacity: 1;
                        top: 10%;
                        left: 55%;
                    }
                }
                .secondBox_section2 {
                    .section2_content {
                        opacity: 01;
                        left: 20%;
                        top: 25%;
                    }
                    .section2_img {
                        opacity: 1;
                        left: 55%;
                        top: 40%;
                    }
                }
                .secondBox_section3 {
                    .section3_content {
                        opacity: 1;
                        top: 55%;
                        left: 20%;
                        text-align: right;
                    }
                }
                .secondBox_section4 {
                    .section4_content {
                        position: absolute;
                        top: 70%;
                        left: 55%;
                    }
                }
            }
        }
    }
}