.section_seven {
	.content {
		.section_contentFirst {
			.section_mainImage img {
				bottom: -10%!important;
				left: -5%!important;
			}

			.section_bcgImage_1 {
				bottom: -17%;
    			left: -1%;

    			img {
    				opacity: 0.3;
    			}
			}
		}
	}
}