@import '_reset';
@import '_global';
@import '_entrance';
@import '_menu_chronologie';
@import '_section_general';

#text1 {
	position: absolute;
	top: 0px;
	left: 0px;
}

#text2 {
	position: absolute;
	top: 0px;
	left: 0px;
}

#text3 {
	position: absolute;
	top: 0px;
	left: 0px;
}